<launch>
<group ns="gimbal">
    <node pkg="myros" type="gimbal_node.py" name='gimbal_node' output="screen">
    </node>
</group>

<group ns="camera0">
    <node pkg="myros" type="camera_node.py" name='camera_node' output="screen">
    </node>
</group>

<group ns="tracking">
    <node pkg="myros" type="tracking_node.py" name='tracking_node' output="screen">
    </node>
</group>


<group ns="ui">
    <node pkg="myros" type="display_node.py" name='display_node' output="screen">
    </node>
</group>

<group ns="control">
    <node pkg="myros" type="control_node.py" name='control_node' output="screen">
    </node>
</group>

<group ns="cnn">
    <node pkg="myros" type="cnn_node.py" name='cnn_node' output="screen">
    </node>
</group>



<include file="$(find dji_sdk)/launch/sdk.launch"/>

</launch>
