<launch>
    <node name="x_pid" pkg="pid" type="controller" >
      <param name="Kp" value="-0.25" />
      <param name="Ki" value="0.0" />
      <param name="Kd" value="-0.01" />
      <param name="upper_limit" value="1" />
      <param name="lower_limit" value="-1" />
      <param name="windup_limit" value="1" />
      <param name="max_loop_frequency" value="1000.0" />
      <param name="min_loop_frequency" value="1.0" />
      <!-- param name="cutoff_frequency" value="50" / -->


      <param name="topic_from_controller" value="gimbal_pitch_control" />
        
      <param name="setpoint_topic" value="set_point_x" />
      <param name="topic_from_plant" value="target_x" />
    </node>
    <node name="y_pid" pkg="pid" type="controller" >
      <param name="Kp" value="-0.25" />
      <param name="Ki" value="0.0" />
      <param name="Kd" value="-0.01" />
      <param name="upper_limit" value="1" />
      <param name="lower_limit" value="-1" />
      <param name="windup_limit" value="1" />
      <param name="max_loop_frequency" value="1000.0" />
      <param name="min_loop_frequency" value="1.0" />
      <!-- param name="cutoff_frequency" value="50" / -->


      <param name="topic_from_controller" value="gimbal_yaw_control" />
        
      <param name="setpoint_topic" value="set_point_y" />
      <param name="topic_from_plant" value="target_y" />
    </node>

</launch>
